:root {
  --color-primary: #f39;
  --border-radius: 14px 0 14px 0;
  --font-primary: sans-serif;
  --font-secondary: "Roboto Slab", sans-serif;
}

html {
  font-family: var(--font-primary);
}

.card {
  max-width: 24em;

  border: 3px solid var(--color-primary);
  border-radius: var(--border-radius);
}

.card-title {
  color: var(--color-primary);
  font-family: var(--font-secondary);
}

.btn {
  background-color: var(--color-primary);
  border-color: var(--color-primary);
  border-radius: var(--border-radius);
  font-family: var(--font-secondary);
}
